<h2>Here are your results:</h2>
<ol>
<%if @villagers.size != 0%>
  <% @villagers.each do |villager|%>
  <li><%= link_to villager.title, villager%></li>
  <% end %>
<%else%>
  <li>No search results found.</li>
<%end%>
</ol>
