<h1>About the ACNH dataset</h1>
<p>The ACNH dataset is comprised of an API, which has been discected into two tables: Villagers and Gender.
<br/>In the villagers table, it stores the villager's game ID, name, as well as their token saying.
<br/>The gender table stores the two available genders in the game and associates them with the villager by their villager ID.
<br/>All the villagers have one gender assigned to them, whereas the two genders have many villagers associated with them. Therefore, this makes the relationship between the two tables a one-to-many association.</p>

<%= image_tag "ERD.png", height: 400, alt: "ERD Image"%>